body{
    font-family: "Roboto", sans-serif;

}
p, .text{
color: #0A0F24;
}

a {
    text-decoration: none;
    color: inherit;
    
    &:hover {
      text-decoration: none;
      color: inherit;
    }
    
    &:visited {
      color: inherit;
    }
  }